<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workspace Invite</title>
  </head>

  <body style="background-color: #008b8b12; padding: 1em">
    <div
      style="
        background-color: white;
        margin: auto;
        max-width: 900px;
        font-family:
          sans-serif 'Open Sans',
          'Helvetica Neue';
      "
    >
      <div style="font-size: 20px; padding: 30px 40px">
        <p style="text-align: left; font-size: 20px; margin: 0; font-weight: 500">Hi,</p>
        <p
          style="
            padding-top: 0.5em;
            font-weight: 700;
            color: #008b8b;
            font-size: 25px;
            text-align: center;
          "
        >
          Workspace Invite!
        </p>
        <p style="color: #000000; font-size: 18px">
          <%= workspaceName %> is inviting you to their workspace. Login
and join workspace with the details below.
        </p>

        <div style="margin: auto; text-align: center; padding: 0.5em">
          <p style="font-weight: bold; margin: 0">Workspace Name: <%= workspaceName %></p>
          <p style="font-weight: bold; margin: 0">Invite Code: <%= inviteCode %></p>
        </div>

        <div style="text-align: center; color: white !important; margin-top: 10px">
          <a
            style="
              width: 200px;
              margin: auto;
              display: block;
              text-decoration: none;
              padding: 0.8em 2em;
              border-radius: 6px;
              font-weight: bolder;
              background-color: #008b8b;
              color: white !important;
            "
            href="<%= inviteLink %>"
          >
            Accept Invite</a
          >
        </div>
        
        <%if (inviteNote) { %>
          <div>
            <p>Additional note</p>
            <span> <%= inviteNote %> </span>
          </div>
        </div>
          <% } %>
       

      <p style="padding: 30px 40px; font-size: 16px; color: black">
        If you did not take this action, please
        <a style="text-decoration: none; color: #008b8b" href="/">contact us</a>
      </p>
    </div>
  </body>
</html>
